/*
  Main CSS asset of JoyEver
*/

a {
  text-decoration: none;
  color: rgb(var(--mdui-color-primary));
}

.content a:hover,
mdui-bottom-app-bar a:hover {
  text-decoration: underline;
}

.content {
  margin-left: 12px;
  line-height: 160%;
}
